// Global styles

html, body {
  margin: 0px;
  background: $primary;
}

h1,h2,h3,a,p {
  color: $secondary;
}

.card__container {
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 4px;

  &:hover {
    box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.2);
  }
}